spring.application.name=api-service
server.port=8091
eureka.client.register-with-eureka=true
eureka.client.service-url.default-zone=http://localhost:8761/eureka

iexcloud.stockurl=https://cloud.iexapis.com/stable/stock
iexcloud.token=pk_376df3da39174f00af08424cb3bcd321
google.token=AIzaSyB44-zUFP8YLL0pptwkGyDcGmf4u7JqkKk
schedule.cron=0 0 23 * * MON-FRI