spring.datasource.url=jdbc:postgresql://localhost:5432/stock_exchange
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=create
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true
spring.profiles.active=production
iexcloud.token=
google.token=

spring.jwt.signingKey=secret
spring.jwt.token.validity=3600000
stocklist.csv.path=src/main/resources/stockList.csv